*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;

}


body{

height:100vh;

background:
linear-gradient(
135deg,
#020024,
#090979,
#00d4ff
);

display:flex;

justify-content:center;

align-items:center;

color:white;

}



.login-container,
.dashboard{

width:450px;

padding:40px;

background:
rgba(255,255,255,0.12);


backdrop-filter:
blur(15px);


border-radius:25px;


box-shadow:
0 0 40px
rgba(0,255,255,.5);


text-align:center;


animation:
fade 1s;


}


h1{

font-size:35px;

margin-bottom:15px;

}


p{

opacity:.8;

margin-bottom:25px;

}


input{

width:100%;

padding:15px;

margin:12px 0;

border:none;

outline:none;

border-radius:20px;

font-size:16px;

}


button{

padding:14px 35px;

border:none;

border-radius:30px;

background:#00eaff;

font-size:17px;

cursor:pointer;

transition:.3s;

}


button:hover{

transform:scale(1.1);

box-shadow:
0 0 25px cyan;

}


.cards{

margin-top:25px;


}


.card{

background:
rgba(255,255,255,.15);


padding:18px;

margin:12px;

border-radius:20px;

}


.ai{

border:

2px solid cyan;

}



@keyframes fade{

from{

opacity:0;

transform:
translateY(30px);

}


to{

opacity:1;

}

}